<a
  target="_blank"
  data-paypal-onboard-complete='SolidusPaypalCommercePlatform_onboardCallback'
  data-paypal-button="true"
  href="<%= wizard.button_url %>"
>
  <button class="btn btn-primary">
    <%= t('sign_up_for_paypal') %>
  </button>
</a>
<script id="paypal-js" src="https://<%= SolidusPaypalCommercePlatform.env_domain %>/webapps/merchantboarding/js/lib/lightbox/partner.js"></script>

<script>
  window.SolidusPaypalCommercePlatform.nonce = "<%= SolidusPaypalCommercePlatform.nonce %>"
  window.SolidusPaypalCommercePlatform_onboardCallback = SolidusPaypalCommercePlatform.onboardCallback
</script>
