<script src="<%= payment_method.javascript_sdk_url(order: @order) %>"></script>

<div id="paypal-button-container"></div>
<input type="hidden" name="payment_source[<%= payment_method.id %>][paypal_order_id]" id="payments_source_paypal_order_id">

<script>
  $( document ).ready(function() {
    SolidusPaypalCommercePlatform.renderButton("<%= payment_method.id %>",<%= raw payment_method.button_style.to_json %>)
  })
</script>
